@import './variables.scss';
@import './mixins.scss';
@import './reset.scss';
@import './normalize.scss';

html,
body,
#app {
  height: 100%;

  background-color: $color-background;
  color: $color-text;
}

body{
  font-family: "Poppins",sans-serif;
}

#app{
  @include breakpoint(lg){
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  @include breakpoint(xl){
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}

main {
  padding-left: $marge-all-min;
  padding-right: $marge-all-min;

  @include breakpoint(sm){
    padding-left: $marge-all-max;
    padding-right: $marge-all-max;
  }
}

section{
  padding-top: $marge-section-min;
  padding-bottom: $marge-section-min;

  @include breakpoint(lg){
    padding-top: $marge-section-max;
    padding-bottom: $marge-section-max;
  }
}

h1{
  font-size: $h1-mobile;
  font-weight: 500;

  @include breakpoint(sm){
    font-size: $h1-tablet;
  }
  @include breakpoint(lg){
    font-size: $h1-desktop;
  }
}

h2{
  font-size: $h2-mobile;
  font-weight: 500;
  text-align: center;

  @include breakpoint(sm){
    font-size: $h2-tablet;
  }
  @include breakpoint(lg){
    font-size: $h2-desktop;
  }
}

h3{
  font-size: $h3-mobile;
  font-weight: 500;

  @include breakpoint(sm){
    font-size: $h3-tablet;
  }
  @include breakpoint(lg){
    font-size: $h3-desktop;
  }
}

p{
  font-size: $text-mobile;

  @include breakpoint(sm){
    font-size: $text-tablet;
  }
  @include breakpoint(lg){
    font-size: $text-desktop;
  }
}

button{
  display: flex;
  align-items: center;

  padding: 5px 10px;

  background-color: #29292C;
  border: none;
  color: $color-text;

  font-size: $text-mobile;

  cursor: pointer;

  @include breakpoint(sm){
    font-size: $text-tablet;
  }
  @include breakpoint(lg){
    font-size: $text-desktop;
  }
}

hr{
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}