$color-text: #fff;
$color-background: #1D1E21;
$color-top: #60C377;

$h1-mobile: 30px;
$h1-tablet: 45px;
$h1-desktop: 60px;

$h2-mobile: 24px;
$h2-tablet: 30px;
$h2-desktop: 44px;

$h3-mobile: 18px;
$h3-tablet: 24px;
$h3-desktop: 28px;

$text-mobile: 14px;
$text-tablet: 16px;
$text-desktop: 18px;

$max-width: 1200px;
$marge-auto: auto;
$marge-all-min: 15px;
$marge-all-max: 30px;
$marge-section-min: 30px;
$marge-section-max: 60px;